/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    color: #1D3557;
}

img {
    width: 100px;
}
.hero{
    display: flex;
    flex-direction: column;
    background-image: url("images/rajasthan.jpeg");
    background-position: center center;
    background-size: cover;
    height: 96vh;
    justify-content: flex-end;
    padding-bottom: 60px;
}
.hero h1, h2{
    color: white;
    text-shadow: 1px 1px 2px #000;
}
.hero h2{
    padding: 0 20px;

}
h1{
    font-size: 65px;
}

.activities{
    display: flex;
    flex-direction: column;
    background-color: #F1FAEE;
    padding:40px 0px;
}
.activities h3{
    font-size: 24px;
}
.activities img{
    border-radius: 100%;
    width:150px;
    height: 150px;
    object-fit: cover;
}
.places{
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}
.places a{
    text-decoration: none;
    color:#1D3557;
}
.places h4{
    font-size: 23px;
}
.guide-sec{
   display: flex;
   justify-content: center;
   background-color:antiquewhite;
   padding: 50px;
}
.guide{

    display: flex;
    flex-direction: row-reverse;
    width: 360px;
    height: 220px;
    justify-content: center;
    align-items: center;
    background-color: #A8DADC;
    padding:10px;
    border-bottom: 4px solid black;
    border-radius: 16px;;
    gap: 5px;
}
.guide img{
    flex:1;
}
